form.get-contact__form(action="" method="GET" data-form-type="connectType")
    ul.get-contact__connects
        li
            label
                input.unvisible(
                    type="radio"
                    name="connect"
                    value="WhatsApp"
                    checked)
                span.icon.icon_whatsapp
                    include ../../../../../img/i-whatsapp.svg
                span.caption WhatsApp
                span.checker

        li
            label
                input.unvisible(
                    type="radio"
                    name="connect"
                    value="Telegram")
                span.icon.icon_telegram
                    include ../../../../../img/i-tele.svg
                span.caption Telegram
                span.checker

        li
            label
                input.unvisible(
                    type="radio"
                    name="connect"
                    value="Телефон")
                span.icon.icon_phone
                    include ../../../../../img/i-phone.svg
                span.caption
                    | Перезвоните мне
                    | !{' '}
                    | Есть вопрос
                span.checker
    label
        input(type="tel"
            name="phone"
            class="phone-controller"
            placeholder="Введите номер телефона")
    button.btn.btn_inactive(type="submit") получить результат
    span.error Чтобы увидеть результаты введите Ваш номер телефона