//- Variables from pages
block variables

doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="robots" content="no-index, follow")

        link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
        link(rel="manifest" href="/img/favicon/site.webmanifest")

        meta(name="description" content=description)
        meta(name="keywords" content=keywords)
        title #{title}

    body(class=pageClass)

        include ../pages/index/components/consultation-modal/consultation-modal
        include ../pages/index/components/thanks-modals/thanks-modals

        .back-line.back-line_one
        .back-line.back-line_two
        .back-line.back-line_three
        .back-line.back-line_four
        .back-line.back-line_five
        .back-line.back-line_six
        include ../pages/index/components/modal-header/modal-header

        header.header#header
            include header/header
        main.main
            block content
        footer.footer
           include footer/footer