//- active hidden
.question.active#apartmentRenovationType
    .question__title Какой ремонт у вас дома?

    .question__content
        .container
            label.question__radio-card.question-controller
                input.unvisible(
                    type="radio"
                    name="renovation"
                    value="Дизайнерский ремонт."
                    data-next-question-id="#apartmentRenovationStyle"
                    data-next-progress-position="6")
                span.value.checker Дизайнерский ремонт

            label.question__radio-card.question-controller
                input.unvisible(
                    type="radio"
                    name="renovation"
                    value="Обычный ремонт."
                    data-next-question-id="#loader"
                    data-next-progress-position="6")
                span.value.checker Обычный ремонт

    .question__banner
        .question__ticker
            ul.question__ticker-wrap
                li Домик для вашего питомца
                li Домик для вашего питомца
                li Домик для вашего питомца
                li Домик для вашего питомца
                li Домик для вашего питомца
        .question__image(style="background-image: url();")

    button.question__back(data-prev-question-id="" data-prev-progress-position="")