.question.hidden#apartmentRenovationStyle
    .question__title В каком стиле выполнен ремонт ?

    .question__content
        label.question__pic-card.question-controller
            span.zoom
            input.unvisible(
                type="radio"
                name="apartment-renovation-type"
                value="Минимализм"
                data-next-card-id="#loader"
                data-next-progress-position="6")
            span.img(style="background-image: url(/img/renovation-type1.jpg);")
            span.value.checker.active Минимализм

        label.question__pic-card.question-controller
            span.zoom
            input.unvisible(
                type="radio"
                name="apartment-renovation-type"
                value="Современный"
                data-next-card-id="#loader"
                data-next-progress-position="6")
            span.img(style="background-image: url(/img/renovation-type2.jpg);")
            span.value.checker.active Современный

        label.question__pic-card.question-controller
            span.zoom
            input.unvisible(
                type="radio"
                name="apartment-renovation-type"
                value="Современная классика"
                data-next-card-id="#loader"
                data-next-progress-position="6")
            span.img(style="background-image: url(/img/renovation-type3.jpg);")
            span.value.checker.active Современная классика

        label.question__pic-card.question-controller
            span.zoom
            input.unvisible(
                type="radio"
                name="apartment-renovation-type"
                value="Лофт"
                data-next-card-id="#loader"
                data-next-progress-position="6")
            span.img(style="background-image: url(/img/renovation-type4.jpg);")
            span.value.checker.active Лофт

        label.question__pic-card.question-controller
            span.zoom
            input.unvisible(
                type="radio"
                name="apartment-renovation-type"
                value="Эко-стиль"
                data-next-card-id="#loader"
                data-next-progress-position="6")
            span.img(style="background-image: url(/img/renovation-type5.jpg);")
            span.value.checker.active Эко-стиль

        label.question__pic-card.question-controller
            span.zoom
            input.unvisible(
                type="radio"
                name="apartment-renovation-type"
                value="Фьюжн"
                data-next-card-id="#loader"
                data-next-progress-position="6")
            span.img(style="background-image: url(/img/renovation-type6.jpg);")
            span.value.checker.active Фьюжн

        .container
            label.question__radio-card.question-controller
                input.unvisible(
                    type="radio"
                    name="apartment-renovation-type"
                    value="Другой"
                    data-next-card-id="#loader"
                    data-next-progress-position="6")
                span.value.checker Другой

