.question.hidden#catQuestion2
    .question__title Сколько у вас кошек?

    .question__content
        .container
            label.question__radio-card.question-controller
                input.unvisible(
                    type="radio"
                    name="count"
                    value="У меня один любимец."
                    data-next-question-id="#catQuestion3"
                    data-next-progress-position="3"
                    data-next-banner-img="catQuestions-bnr3.jpg")
                span.value.checker У меня один любимец

            label.question__radio-card.question-controller
                input.unvisible(
                    type="radio"
                    name="count"
                    value="У меня два котика."
                    data-next-question-id="#catQuestion3"
                    data-next-progress-position="3"
                    data-next-banner-img="catQuestions-bnr3.jpg")
                span.value.checker У меня два котика

            label.question__radio-card.question-controller
                input.unvisible(
                    type="radio"
                    name="count"
                    value="Три и более."
                    data-prev-card-id="#start"
                    data-next-question-id="#catQuestion3"
                    data-next-progress-position="3"
                    data-next-banner-img="catQuestions-bnr3.jpg")
                span.value.checker Три и более

    .question__banner
        .question__ticker
            ul.question__ticker-wrap
                li Домик для вашего питомца
                li Домик для вашего питомца
                li Домик для вашего питомца
                li Домик для вашего питомца
                li Домик для вашего питомца
        .question__image

    button.question__back(data-prev-question-id="" data-prev-progress-position="")