//- active hidden
.question.hidden#start
    .question__title Кто ваш питомец?
    .question__content
            label.question__pic-card.question-controller
                input.unvisible(
                    type="radio"
                    name="animal"
                    value="Кошка."
                    data-next-question-id="#catQuestion2"
                    data-next-progress-position="2"
                    data-next-banner-img="catQuestions-bnr2.jpg")
                span.img(style="background-image: url(/img/start-cat.jpg);")
                span.value.checker Кошка
            label.question__pic-card.question-controller
                input.unvisible(
                    type="radio"
                    name="animal"
                    value="Собака."
                    data-next-question-id="#dogQuestion2"
                    data-next-progress-position="2"
                    data-next-banner-img="dogQuestions-bnr2.jpg")
                span.img(style="background-image: url(/img/start-dog.jpg);")
                span.value.checker Собака