//- active hidden
.results.hidden#results
    .results__banner
        .container
            span.pic
            span.txt Подходящие домики для вашего питомца

    .container.results__header
        .results__header-person
            img(src="/img/icon-person.jpg")
            div
                span.results__header-name Аракчеев Дмитрий
                span.results__header-position
                    | Дизайнер компании
                    br
                    | “Домик в Доме”
        .results__header-msg
            span Система автоматически подобрала варианты домиков, подходящие для вашего питомца
            a(href="#place_scroll")#goToSliderHouses Вы найдете их ниже

    .results__present#present
        form(action="" method="GET" data-form-type="singlePhone")
            h4.results__present-title
                | А пока не забудьте
                br
                | про подарок
            .results__present-wrap
                img.results__present-photo(src="/img/results-form-pic.jpg" alt="")
                span.results__present-subtitle Гравировка имени вашего питомца на домике
            span.results__present-content
                | Подарок закреплен за номером телефона.
                br
                | !{' '}
                | Если вы указали номер неправильно, сейчас можете его изменить
            label
                input(type="tel"
                    name="phone"
                    class="phone-controller"
                    placeholder="Введите номер телефона")
            button.btn.btn_inactive(type="submit") изменить номер

    .results__slider#slicerHouses
        .container
            h5.results__slider-title Дизайнерские домики
            span.results__slider-subtitle
                | подходящие для интерьера
                br
                | и вашего питомца

    span.results__slider-war свайпай
    //- Fancy box galleries
    #cat-single.unvisible
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
            a(href="/img/slider/cat-single/pic" + val + ".jpg" data-fancybox="gallery-cat-single")
    #cat-more.unvisible
        each val in [1, 2, 3, 4, 5, 6, 7]
            a(href="/img/slider/cat-more/pic" + val + ".jpg" data-fancybox="gallery-cat-more")
    #dog-small.unvisible
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
            a(href="/img/slider/dog-small/pic" + val + ".jpg" data-fancybox="gallery-dog-small")
    #dog-medium.unvisible
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            a(href="/img/slider/dog-medium/pic" + val + ".jpg" data-fancybox="gallery-dog-medium")
    #dog-large.unvisible
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
            a(href="/img/slider/dog-large/pic" + val + ".jpg" data-fancybox="gallery-dog-large")

    .slider#sliderHouses
        .swiper
            .swiper-wrapper#sliderHousesWrapper
        .swiper-pagination#sliderHousesPagination

    .results__consultation#setPhoto
        .container
            .results__consultation__content
                .results__consultation__title
                    | Получите консультацию
                    br
                    | профессионального
                    br
                    | дизайнера - кинолога
                .results__consultation__subtitle Наш дизайнер-кинолог сможет предложить такое решение, которое идеально подойдет под характер вашего питомца и впишется в ваш интерьер.
                .results__consultation__direction Для этого
            form.results__consultation__form(action="" method="GET" data-form-type="setPhoto")
                .header
                    img(src="/img/icon-person.jpg")
                    span Отправьте фото комнаты, где будет стоять домик, и фото питомца
                label
                    input(type="tel"
                        name="phone"
                        class="phone-controller"
                        placeholder="Введите номер телефона")
                .actions
                    #addFile
                        img(src="/img/icon-picture.svg" alt="")
                        span Добавить фото/видео
                .file-previews#filePreviews

                button.btn.btn_inactive(type="submit") отправить фото

                .form-loader
                    h5
                        | Ваши фото отправляются
                        br
                        | дизайнеру - кинологу
                    span.spinner
                    span.txt Это быстро

                .finish
                    | Отлично!
                    br
                    | Фото отправлены


    .results__production
        .container
            h5.results__slider-title
                | Домики изготавливаем
                br
                | на собственном производстве
            span.results__slider-subtitle из ценных пород дерева - бука и дуба

    span.results__slider-war свайпай
    .slider#sliderProduction
        .swiper
            .swiper-wrapper
                each val in [1, 2, 3, 4, 5, 6, 7, 8]
                    .slider__slide.swiper-slide
                        .slider__image-wrap
                            .slider__image(style="background-image: url(/img/slider/product/pic" + val + ".jpg)")
        .swiper-pagination#sliderProductionPagination

    .results__paint
        .container
            .results__paint-header
                h5.results__slider-title Окрашиваем безвредными лакокрасочными материалами
                span.results__slider-subtitle Sayerlack
            img.results__paint-pic(src="/img/result-paint.jpg" alt="")

    .results__footer
        .results__quality
            .container
                h4.results__quality-title
                    | Европейское качество
                    br
                    | на российском производстве
                ul
                    li
                        strong Необычные архитектурные формы домиков
                        | !{' '}
                        span
                            | применяем технологию гнутых элементов в деревообработке.
                            br
                            | Сделаем для питомца домик любой формы
                    li
                        strong Подушки из натуральных материалов
                        br
                        a(href="#") читать дальше
                    li
                        strong Не царапает пол
                        | !{' '}
                        span На ножках есть резиновые накладки
                    li
                        strong Подходят сразу для трех кошачьих дел:
                        | !{' '}
                        span сна, наблюдения и заточки когтей

        .results__callback#checkPhone
            .container
                h4.results__callback-title
                    | Дождитесь звонка дизайнера
                    br
                    | или проконсультируйтесь
                    br
                    | прямо сейчас

                form.results__callback-form(action="" method="GET" data-form-type="callbackTime")
                    h4 Проверьте номер телефона
                    label
                        input(type="tel"
                            name="phone"
                            class="phone-controller"
                            placeholder="Введите номер телефона")
                    label
                        input(type="text"
                            name="time"
                            class="callback-time-controller"
                            placeholder="Укажите удобное время")
                    button.btn.btn_inactive(type="submit") проконсультироваться